.camera-view {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  overflow: hidden;

  video {
    position: absolute;
    left: -9999px;
    visibility: hidden;
  }

  #canvas {
    position: absolute;
    left: -9999px;
    visibility: hidden;
  }

  &--results {
    position: absolute;
    right: 0;
    background-color: rgba(#fff, 0.4);
    padding: 10px;
    top: 0;
    color: #fff;

    &::before {
      content: 'Detected faces: ';
    }
  }
}
