<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700" rel="stylesheet">
  <title>🖥️ 👁️</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
  <div class="camera-view">
    <video id="video" width="1280" height="720" autoplay></video>
    <canvas id="resultsCanvas" width="1280" height="720"></canvas>
    <canvas id="canvas" width="1280" height="720"></canvas>

    <div class="camera-view--results"></div>
  </div>
</body>
</html>
